@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
            font-family: "Poppins";
            background-color:  #141416;
            color: #949494;
            /* border-color: #949494; */
            background-image: url("");
          
        }
}
@layer components{
    .search-input{
        @apply w-60 mb-5 block;
    }
}

@layer utilities{
    .grayed-out-disabled{
        @apply disabled:opacity-50
    }
}


.visuallyhidden{
    opacity:0
}

.dropdown{
    position:fixed;
    z-index: 2;
    margin-top: 5;
    margin-right: 7;
    display: block;
    right: 10px;
   
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  
    
    

}

.dropdown.hidden {
    display: none;
}

.dropdown.visuallyhidden {
    opacity: 0;
    pointer-events: none;
}

.hood{
    background: #141416;
    
}

.hood:hover{
    color:#141416;
}
.cool{  min-width: 1000px;
}
.cool1{
    display: none;
}


@media only screen and (max-width:600px){
    .cool{
        display: none;
    }
    .cool1{
        display: block;

    }

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 480px;
        width: 500px;
    }

    .herotext1{
        text-align :start;


    }
    .herotext2{
        padding-right:180px;
        height: 150px;
        text-align: left;
    }
}










.head{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 600px;
    margin-bottom: 150px;

   
    
}

.head2{
    display: none;
}

.right{
    border-width: .7px;
    height: 600px;
    min-width: 980px;
    position: relative;
    border-left: 0px;
    border-color: rgb(61, 61, 61);
    display: grid;
    grid-template-columns: 2;

 
}
.left{
    border-width: 0.7px;
    height: 600px;
    text-align: left;
    min-width: 350px;
    border-color: rgb(61,61,61);
       
    
   

}

h1{
    font-size: 30px;
    padding-right: 100px;
    text-align: left;
    padding-left: 50px;
    margin-top: 140px;
    font-weight: lighter;
    color: white;
}
p{
    font-size: 17px;
        padding-right: 80px;
        padding-left: 50px;
        margin-top: 40px;
        color: white
}

.d1{
    position: absolute;
    top:-80px;
    left: 180px;
    
    height: 300px;
    width: 240px;
    border-radius: var(--rd, 5px);
    z-index: 1;
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));;
    border: var(--container-corvid-border-width, var(--brw, 1px)) solid var(--container-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));
    background-color: rgb(18,
        17,
        17);
   
}
.d2{
    position: absolute;
        top: 230px;
        left: 180px;
        border-width: 1px;
        height: 300px;
        width: 240px;
    border-radius: var(--rd, 5px);
        z-index: 1;
        box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
        ;
        border: var(--container-corvid-border-width, var(--brw, 1px)) solid var(--container-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));
background-color: rgb(18,
    17,
    17);
}
.d3{
    position: absolute;
        bottom: 230px;
        right: 310px;
        border-width: 1px;
        height: 300px;
    width: 240px;
        border-radius: var(--rd, 5px);
            z-index: 1;
            box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
            ;
            border: var(--container-corvid-border-width, var(--brw, 1px)) solid var(--container-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));
background-color: rgb(18, 17, 17);
}
.d4{
    position: absolute;
        bottom: -80px;
        right: 310px;
        border-width: 1px;
        height: 300px;
    width: 240px;
    border-radius: var(--rd, 5px);
        z-index: 1;
        background-color: rgb(18,
            17,
            17);  
        box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
        ;
        border: var(--container-corvid-border-width, var(--brw, 1px)) solid var(--container-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));}
h2{
    font-size: 20px;
    margin-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    color: white
        

}

h3{
    font-size: 16px;
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    color: white
}
img{
    margin-top: 15px;
    margin-left: 15px;
}
.text2{
    color: inherit;
}

.t2{
    color: inherit;
}
.t1{
    color: rgb(99, 99, 249);
}

.imagers{
    margin-left: 15px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}


@media only screen and (max-width:600px){
    .head{
        display: none;
    }

    .head2{
        display: flex;
        flex-direction: column;
      
        align-items:center;
        margin-bottom: 800px;
        
    }

    .left2{
        border-width: .7px;
        width: 350px;
        height: 450px;
        border-color: rgb(61, 61, 61);
        text-align: left;
    }

  

    .right2{
        width: 400px;
        height: 500px;
    }

    .d11{
        width: 300px;
        height: 350px;
       
        padding-right: 15px;
        margin-bottom: 10px;
        margin-left: 48px;
        border-width: 1px;
        border-radius: var(--rd, 5px);
            z-index: 1;
            background-color: rgb(18,
                    17,
                    17);
            box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
            ;
            border: var(--container-corvid-border-width, var(--brw, 1px)) solid var(--container-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));
        
        
    
    }

    h1{
        margin-top: 40px;
    }

    p{
        margin-bottom: 40px;
    }


}

.main{
    display: flex;
    flex-direction: column;
    margin-right: 45px;
    margin-left: 45px;
    align-content: flex-end
}

.toptext{
    display: flex;
    flex-direction: row;
    align-content: center;
    
    
    

   
}

.part{
        border-width: .3px;
        padding: 30px;
        border-color: #303236;
        
}


.parters{
    border-width: 0.3px;
    border-color:#303236 ;
    display: block;
    padding: 30px;
    padding-top: 30px;
}

.bottomtext{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    min-width: 1008px;

    
}

.div1{
    border-width: .2px;
        position: relative;
        width: 867px;
        height: 700px;
    z-index: initial;
    border-color: #303236;
    min-width: 590px;
    
}
.img1{
    width: 865px;
    height: 700px;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 0;
}

.div2{
    width: 508px;
    padding-top: 170px;
    border-width: 0.3px;
    padding-left: 80px;
    border-color: #303236;
    min-width: 415px;
}

.main2{
    display: none;
}


@media only screen and (max-width:600px){
    .main{
        display: none;
    }
    .main2{
        display: flex;
        flex-direction: column;
        margin-top: 1110px;
        align-items: center;
 
        
    }

    .toptext1{
        display: flex;
        flex-direction: column;
        align-items: center;
     
        
    }
    .part1{
        width: 600px;
        height: 200px;
        border-width: 0.1px;
        border-color: #303236;
  
    }
    .parters1{
        width: 600px;
            height: 150px;
            border-width: 0.1px;
            border-color: #303236;
            border-top: none;
         
            

    }
    .image{
        width: 250px;
        margin-left:185px;
        margin-top: 40px;
        
    }   

    .image2{
        margin-left: 200px;
        
    }
    .image3{
        margin-left: 145px;
        margin-top: 45px;
    }
    .image4{
        margin-left: 205px;
        margin-top: 34px;
    }

    .bottomtext1{
       
        align-items: center;
        width: 600px;
        

    }
    .div11{
        height: 600px;
        width: 600px;
    
        
    }
    .img1{
        height: 600px;
    }
    .div22{
       
        height: 300px;
        width: 600px;
        padding-left: 20px;
    }

}