@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        font-family:"Comic Sans MS"
    }
}
@layer components{
    .search-input{
        @apply w-60 mb-5 block;
    }
}

@layer utilities{
    .grayed-out-disabled{
        @apply disabled:opacity-50
    }
}