@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins";
    background-color: #141416;
    color: #949494;
  }
  h1 {
    color: white;
  }
}
@layer components {
  .search-input {
    @apply w-60 mb-5 block;
  }
}

@layer utilities {
  .grayed-out-disabled {
    @apply disabled:opacity-50;
  }
}
